<h2>The beer of the day is</h2>

<p *ngIf="isLoading">Loading the beer ...</p>

<div *ngIf="!isLoading" class="container">
  <div class="card" *ngIf="beerObject">
    <div class="card-body">
      <h3 class="card-title">{{ beerObject.name | uppercase }}</h3>
        <div>
          {{beerObject.country}}
        </div>
        <div>
          {{beerObject.type}}
        </div>
        <div>
          {{beerObject.rating}}
        </div>
        <div>
          {{beerObject.status}}
        </div>
    </div>
    <button class="btn btn-primary" (click)="getRandomBeer()">Get another beer</button>
  </div>
</div>